[Unit]
Description=hipos device info
Requires=dev-ttydrbcc.device
After=dev-ttydrbcc.device
Before=hipos-network-setup.service

[Service]
Type=oneshot
ExecStart=/etc/hipos/hipos-device-info.sh
RemainAfterExit=no

[Install]
WantedBy=multi-user.target
