[Unit]
Description=hipos network setup service
Requires=hipos-device-info.service
After=hipos-device-info.service
# HYP-11339
Before=networking.service

[Service]
Type=oneshot
ExecStart=/etc/hipos/hipos-network-setup.sh

[Install]
WantedBy=multi-user.target
