CONFIG_SYS_EXTRA_OPTIONS="IMX_CONFIG=board/freescale/himx0294/nitrogen6q.cfg,MX6Q,BOARD_IS_HIMX_DVMON"
CONFIG_ARM=y
CONFIG_ARCH_MX6=y
CONFIG_TARGET_HIMX0294=y
CONFIG_DISPLAY_CPUINFO=y
CONFIG_DISPLAY_BOARDINFO=y
CONFIG_MMC=y
CONFIG_DEFAULT_FDT_FILE="/boot/imx6q-himx0294-dvmon.dtb"
CONFIG_AUTOBOOT_KEYED=y
CONFIG_AUTOBOOT_STOP_STR="."
CONFIG_BOOTDELAY=0
CONFIG_AUTOBOOT_PROMPT="Press . to abort autoboot in %d seconds\n"
CONFIG_VIDEO=y
CONFIG_CFB_CONSOLE=y
CONFIG_VGA_AS_SINGLE_DEVICE=y
CONFIG_SYS_CONSOLE_BG_COL=0x00
CONFIG_SYS_CONSOLE_FG_COL=0xa0
CONFIG_CONSOLE_MUX=y
CONFIG_SYS_CONSOLE_IS_IN_ENV=y
CONFIG_OF_LIBFDT=y
CONFIG_CMD_FUSE=y
CONFIG_CMD_MMC=y
CONFIG_ENV_IS_IN_MMC=y
