if TARGET_HIMX0294

choice
	prompt "Board variant"

config BOARD_IS_HIMX_DVMON
	bool "DVMON"

config BOARD_IS_HIMX_IMOC
	bool "IMOC"

config BOARD_IS_HIMX_IPCAM
	bool "IPCAM"

config BOARD_IS_HIMX_IVAP
	bool "IVAP"

endchoice

config SYS_BOARD
	default "himx0294"

config SYS_VENDOR
	default "freescale"

config SYS_SOC
	default "mx6"

config SYS_CONFIG_NAME
	default "himx0294"

endif
