[Unit]
Description=hipos watchdog timer
Requires=dev-ttydrbcc.device
After=dev-ttydrbcc.device

[Timer]
OnUnitInactiveSec=9s
Unit=hipos-watchdog.service

[Install]
WantedBy=multi-user.target
