[Unit]
Description=hipos watchdog service
Requires=dev-ttydrbcc.device
After=dev-ttydrbcc.device
After=hipos-device-info.service

[Service]
Type=oneshot
ExecStart=/bin/bash /etc/hipos/hipos-watchdog.sh

[Install]
WantedBy=multi-user.target
