[Unit]
Description=hipos network setup service
Requires=hipos-device-info.service
After=hipos-device-info.service
Requires=sys-subsystem-net-devices-eth0.device
After=sys-subsystem-net-devices-eth0.device
Requires=sys-subsystem-net-devices-eth1.device
After=sys-subsystem-net-devices-eth1.device

[Service]
Type=oneshot
ExecStart=/etc/hipos/hipos-network-setup.sh

[Install]
WantedBy=multi-user.target
