[Unit]
Description=NetBIOS name server
Requires=network.target
Requires=hipos-device-info.service
After=hipos-device-info.service

ConditionPathExists=/etc/hipos/hipos-device.nas

[Service]
Type=oneshot
ExecStart=/usr/sbin/nmbd
RemainAfterExit=yes
StandardOutput=null

[Install]
WantedBy=multi-user.target

