[Unit]
Description=hipos time service
Requires=dev-ttydrbcc.device
After=dev-ttydrbcc.device

[Service]
Type=oneshot
ExecStart=/etc/hipos/set-time.sh

[Install]
WantedBy=multi-user.target
