[Unit]
Description=samba SMB/CIFS server
Requires=network.target
Requires=hipos-device-info.service
After=hipos-device-info.service

ConditionPathExists=/etc/hipos/hipos-device.nas

[Service]
Type=oneshot
ExecStart=/usr/sbin/smbd
RemainAfterExit=yes
StandardOutput=null

[Install]
WantedBy=multi-user.target

