[Unit]
Description=Modem AT and GPS

BindsTo=dev-modem_at.device
Requires=dev-modem_ppp.device
Requires=dev-gps.device
After=dev-modem_at.device
After=dev-modem_ppp.device
After=dev-gps.device

[Service]
ExecStart=/etc/hipos/hipos-gps-on.sh
RemainAfterExit=yes

[Install]
WantedBy=dev-modem_at.device
